<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Ann Meier</a>.</p>
    <br />
    <p><strong>What Is Splurty you might ask.</strong><br /><br />Splurty is a random quote generator built using Ruby On Rails, HTML and CSS. The user can add their own quote and author which is then stored in a database and is randomly generated with all the other quotes stored in the database.
  </p>
  <br />
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'AnnBig.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Get to Know Ann Meier</h2>
      <p>
        Graphic artist and technology geek with a bachelor’s degree (BFA) in Graphic Design, e-commerce training, SaaS and Web App development exposure, and substantial experience designing tools and processes that improve operations and serve clients. 
      </p>
      <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Skills</h2>
      <%= image_tag 'skills.png', class: 'img-fluid' %>
    </div>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />